<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find gazebo_kinect_sim)/models:GAZEBO_MODEL_PATH"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_kinect_sim)/worlds/empty_n_kinect.world"/>
    <!-- more default parameters can be changed here -->
  </include>

</launch>
