<launch>

  <node name="tf_kinect1" pkg="tf" type="static_transform_publisher" args="0 1.0 1.0 0 0 0 kinect1_depth_optical_frame world 20" output="screen" /> 

  <node name="tf_kinect2" pkg="tf" type="static_transform_publisher" args="1.0 0 1.0 0 0 0 kinect2_depth_optical_frame world 20" output="screen" />

</launch>
